<div id="identity-card">
  <div class="avatar">
    <img src="http://uwm.edu/french-italian-comparative-literature/wp-content/uploads/sites/206/2015/06/grey-man.png" alt="">
  </div>
  <div class="description">
    <h1 class="title">John Doe</h1>
    <h2 class="subtitle">Développeur web full-stack</h2>
  </div>
</div>
