<div id="navbar">
  <div class="menu">
    <div class="bars">
      <div class="bar one"></div>
      <div class="bar two"></div>
      <div class="bar three"></div>
    </div>
    <p>Menu</p>
  </div>
  <div class="name">
    <p class="first-name">John</p>
    <p class="last-name">Doe</p>
  </div>
</div>
<div id="menu-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>
