<div id="navbar">
  <div class="menu">
    <div class="bars">
      <div class="bar one"></div>
      <div class="bar two"></div>
      <div class="bar three"></div>
    </div>
    <p>Menu</p>
  </div>
  <div class="name">
    <p class="first-name">John</p>
    <p class="last-name">Doe</p>
  </div>
</div>
<div id="menu-content">
  <div>
    <p>Home</p>
    <a href="/"></a>
  </div>
  <div>
    <p>Curriculum Vitae</p>
    <a href="/curriculum-vitae.html"></a>
  </div>
  <div>
    <p>Portfolio</p>
    <a href="/portfolio.html"></a>
  </div>
  <div>
    <p>Prestations</p>
    <a href="/prestations.html"></a>
  </div>
  <div>
    <p>Contact</p>
    <a href="/contact.html"></a>
  </div>
</div>
