<div class="portfolio-card">
  <img src="images/menu-bg.jpg" alt="">
  <div class="content">
    <h2><%= mission[1].company_name %></h2>
    <h3><%= mission[1].role %></h3>
  </div>
  <a href="#"></a>
</div>
