<div id="socialbar">
  <a href="#">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
  </a>
  <a href="#">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <a href="#">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
</div>
