---
title: Middleman template with webpack
---
<div class="article">
  <div class="text-container">
    <h1>
      <span id="banner-typed-text"></span>
    </h1>
    <input type="button" id="primaryButton" onclick="ExistingLogic()" />
    <input type="button"
           id="secondaryButton"
           onclick="document.getElementById('primaryButton').click()" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/800/1000/?image=833" alt="lorem">
  </div>
</div>
